<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,scalable=no">
    <title>8延期搬离页面</title>
    <link rel="stylesheet" href="./css/weui.min.css">
    <link rel="stylesheet" href="./css/jquery-weui.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/vant-ui.css">
</head>
<body>
<div id="app" class="full-screen">
    <div class="person">
        <img src="./images/student.png" alt="" class="person-img">
        <div class="person-n">
            <div class="person-name">张三</div>
            <div class="person-xh">20203938212</div>
        </div>
    </div>
    <div class="person-info">
        <div class="info-item blue">北苑-1栋-405 北苑-1栋-405 北苑-1栋-405
        </div>
    </div>
    <div class="person-info">
        <div class="info-item red">2020级</div>
        <div class="info-item yellow">信息与科技技术学院</div>
    </div>
    <div class="content-contain top">
        <div class="list">
            <div class="list-item">
                <div class="list-item-xh">2020120120</div>
                <div class="list-item-status"><img src="./images/unchoose.png" alt="">已退宿</div>
                <div class="list-item-xm">
                    张三张
                    <img src="./images/arrow-dis.png" class="list-item-arrow" alt="">
                </div>
            </div>
            <div class="list-item reject-info">
                <img src="./images/error.png" alt="" class="reject-info-img">当前页面为不同意该学生退房填写
            </div>
        </div>

        <div class="result-title">备注</div>
        <div class="weui-cells weui-cells_form beizhu">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" value="座椅损坏，门窗损坏" disabled placeholder="请输入不同意退房原因" rows="6">座椅损坏，门窗损坏</textarea>
                </div>
            </div>
        </div>

        <div class="result-title">请上传照片</div>
        <div class="weui-uploader">
            <div class="weui-uploader__hd">
            </div>
            <div class="weui-uploader__bd">
                <ul class="weui-uploader__files" id="uploaderFiles">
                    <li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)">
                        <img src="./images/delete.png" class="delete-btn"/>
                    </li>
                    <!--<li class="weui-uploader__file weui-uploader__file_status"-->
                    <!--style="background-image:url(./images/pic_160.png)">-->
                    <!--<div class="weui-uploader__file-content">-->
                    <!--<i class="weui-icon-warn"></i>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li class="weui-uploader__file weui-uploader__file_status"-->
                    <!--style="background-image:url(./images/pic_160.png)">-->
                    <!--<div class="weui-uploader__file-content">50%</div>-->
                    <!--</li>-->
                </ul>
                <div class="weui-uploader__input-box myupload">
                    <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                </div>
            </div>
        </div>
        <div class="btn-div">
            <button type="pup-full" class="pup-button" @click="show=true">延期搬离</button>
            <button type="pup-plain" class="pup-button">同意退房</button>
        </div>
    </div>

    <van-dialog v-model="show" class="my-dialog">
        <!--<img src="https://img.yzcdn.cn/vant/apple-3.jpg" />-->
        <div slot="title">
            <div class="my-dialog-title">
                延期详情
                <div class="my-dialog-title-clear-btn">清除全部</div>
            </div>
        </div>
        <div slot="default">
            <div class="pad30">
                <div class="result-title">延搬时间</div>
                <div class="weui-cells weui-cells_form beizhu">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                           <span @click="showStart=true">{{startDate}}</span>  ~  <span @click="showEnd=true">{{endDate}}</span>
                        </div>
                    </div>
                </div>
                <div class="result-title">延搬原因</div>
                <div class="weui-cells weui-cells_form beizhu">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea class="weui-textarea" placeholder="请简洁输入延迁原因" rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </van-dialog>

    <van-popup v-model="showStart" round position="bottom">
        <van-datetime-picker
                v-model="startDate"
                type="date"
                title="选择年月日"
                :min-date="minDate"
                :max-date="maxDate">
        </van-datetime-picker>
    </van-popup>

    <van-popup v-model="showEnd" round position="bottom">
        <van-datetime-picker
                v-model="endDate"
                type="date"
                title="选择年月日"
                :min-date="minDate"
                :max-date="maxDate">
        </van-datetime-picker>
    </van-popup>
</div>
<script src="./js/jquery-2.1.4.js"></script>
<script src="./js/jquery-weui.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/vant.min.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      show: false,
      minDate: new Date(2020, 0, 1),
      maxDate: new Date(2025, 10, 1),
      showStart:false,
      showEnd:false,
      startDate:'开始时间',
      endDate:'结束时间',
    }
  })
</script>
</body>
</html>